<div class="Form-group">
  <label>Nombre</label>
  <input name="name" id="name" type="text" class="form-control" />
</div>
<div class="Form-group">
  <label>Apellido</label>
  <input name="appellido" id="appellido" type="text" class="form-control" />
</div>
<div class="Form-group">
  <label>Cedula</label>
  <input name="cedula" id="cedula" type="text" class="form-control" />
</div>
<div class="Form-group">
  <label>Dirreccion</label>
  <input name="dirreccion" id="dirreccion" type="text" class="form-control" />
</div>
<div class="Form-group">
  <label>telefono</label>
  <input name="telefono" id="telefono" type="text" class="form-control" />
</div>
