<div class="Form-group">
  <label>Nombre</label>
  <input name="name" type="text" class="form-control" />
</div>
<div class="Form-group">
  <label>Apellido</label>
  <input name="appellido" type="text" class="form-control" />
</div>
<div class="Form-group">
  <label>Cedula</label>
  <input name="cedula" type="text" class="form-control" />
</div>
<div class="Form-group">
  <label>Dirreccion</label>
  <input name="address" type="text" class="form-control" />
</div>
