

.Accordion-header{
    background-color:white; 
    outline:none;
    border:none;  
    height: auto;
    text-align:left; 
    padding:10px 20px;
    font-weight:bold;
    margin-bottom:0px;
    color:black;
  }

 

  .Accordion-header .Accordion-pointer{
   width: 100%;
   display: flex;
   justify-content: center;
   justify-items: center;
   text-align: center;
   align-items: center;
   position: relative;
  }
   .Accordion button{
    background:inherit;
    color:white; 
    outline: none; 
    border:none;
   }

   
  .Accordion .Accordion-open-btn{
    position: relative;
    outline: none; 
    border:none;
    padding: 2px;
    height: 16px;
    width: 32px;
  }

  .Accordion-open-btn i{
      color:grey; 
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: up-down .8s 5 linear;
  }

  .Accordion-open-btn:hover i{
    color:grey;
    transform: scale(1,1.5);
    animation: up-down .8s infinite linear;
}

 
  .Accordion .Accordion-body{
    background-color:white;
    margin-top:0px;
    padding:0px 20px;
    max-height:0px;
    overflow:hidden;
    transition: max-height 200ms linear; 
    
  }






  @keyframes up-down {
    0% {
      top:10%;
    }
    100% {
        top:50%;
    }
  }
